*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
   
}
.overall-container{
     width: 90%;
  max-width: 400px;
  min-height: 100vh;
}
.container{
     margin: 0 auto;
     width: 350px;
     margin-bottom: 70px;
     margin-top: 50px;
}
ion-icon{
    font-size: 25px;
    padding-right: 60px;
    padding-left: 10px;
    vertical-align: middle;
}
h1{
    text-align: center;
    font-weight: 700px;
    margin-bottom: 10px;
} 
p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

a{
    text-decoration: none;

}
main{
    margin-bottom: 100px;
}
span{
    font-weight: 600;

}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}
.links-primary a{
    color: black;
    border: 1px solid #D6D6D6;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 8px;
    transition: 0.2s ease;
}
.links-primary a:hover{
    background-color: #EEEEEE;
    border: 1px solid black;
}


.links-secondary{
    color: red;
    transition: 2s ease;
}
.links-secondary:link{
    color: red;
    
}
.links-secondary:hover{
    color: red;
    text-decoration: underline 2px solid red;
    text-underline-offset: 5px;
}

.footer{
    padding-top: 30px;
    border-top: 0.2px solid black;
   
}
